In [ ]:
# Assignment 1B: Merging Records

f1 = open ("/content/drive/MyDrive/Colab Notebooks/emp-1.csv","r")

f2 = open ("/content/drive/MyDrive/Colab Notebooks/sal.csv","r")

f3 = open ("/content/drive/MyDrive/Colab Notebooks/emp_sal.csv","w")

contents1 = f1.read()
contents2 = f2.read()
print (contents1)
print (contents2)
nm = []
sal = []

lines1 = contents1.split("\n")
lines2 = contents2.split("\n")

for l1 in lines1:
  words1 = l1.split(",")

  for l2 in lines2:
    words2 = l2.split(",")
    if (words1[0] == words2[0] ):
      l1 = l1 +","+words2[1]+","+words2[2]+"\n"
      f3.write(l1)

      nm.append(words1[1])
      sal.append(int(words2[2]))
      print(l1)

f1.close()
f2.close()
f3.close()
print(nm)
print(sal)

1,Onkar,Nanded
2,Sahil,Pune
3,Rohan,Nashik
4,Tanmay,Mumbai
5,Siddhesh,Lonavala
1,Manager,100000
2,Supervisor,95000
3,Employee,70000
4,HR,80000
5,CA,85000
1,Onkar,Nanded,Manager,100000

2,Sahil,Pune,Supervisor,95000

3,Rohan,Nashik,Employee,70000

4,Tanmay,Mumbai,HR,80000

5,Siddhesh,Lonavala,CA,85000

['Onkar', 'Sahil', 'Rohan', 'Tanmay', 'Siddhesh']
[100000, 95000, 70000, 80000, 85000]

In [ ]:
import csv
def top_5_emp(d3):
  d3.sort(key = lambda x : int(x[5]), reverse = True)
  print("Sorted Data : ",d3)


f1 = open ("/content/drive/MyDrive/Colab Notebooks/emp-1.csv","r")

f2 = open ("/content/drive/MyDrive/Colab Notebooks/sal.csv","r")

f3 = open ("/content/drive/MyDrive/Colab Notebooks/emp_sal.csv","w")


d1 = list(csv.reader(f1,delimiter=','))
d2 = list(csv.reader(f2,delimiter=','))

print("\n\n File1 Contents : ",d1)
print("\n\n File2 Contents : ",d2)
d3 = []
for i in range(len(d1)):
  d3.append(d1[i] + d2[i])

print(d3)
cw = csv.writer(f3)
cw.writerows(d3)

top_5_emp(d3)

f1.close()
f2.close()
f3.close()

 File1 Contents :  [['1', 'Onkar', 'Nanded'], ['2', 'Sahil', 'Pune'], ['3', 'Rohan', 'Nashik'], ['4', 'Tanmay', 'Mumbai'], ['5', 'Siddhesh', 'Lonavala']]


 File2 Contents :  [['1', 'Manager', '100000'], ['2', 'Supervisor', '95000'], ['3', 'Employee', '70000'], ['4', 'HR', '80000'], ['5', 'CA', '85000']]
[['1', 'Onkar', 'Nanded', '1', 'Manager', '100000'], ['2', 'Sahil', 'Pune', '2', 'Supervisor', '95000'], ['3', 'Rohan', 'Nashik', '3', 'Employee', '70000'], ['4', 'Tanmay', 'Mumbai', '4', 'HR', '80000'], ['5', 'Siddhesh', 'Lonavala', '5', 'CA', '85000']]
Sorted Data :  [['1', 'Onkar', 'Nanded', '1', 'Manager', '100000'], ['2', 'Sahil', 'Pune', '2', 'Supervisor', '95000'], ['5', 'Siddhesh', 'Lonavala', '5', 'CA', '85000'], ['4', 'Tanmay', 'Mumbai', '4', 'HR', '80000'], ['3', 'Rohan', 'Nashik', '3', 'Employee', '70000']]